a{
    text-decoration: none;
    color:black;
    background-color: brown;
}

ul{
    background-color: blueviolet;
    list-style-type: none;
    display:flex;
    justify-content: space-between;

}